<!DOCTYPE html>
<css>
<style>
body {
  background-color: slateblue;
}

h1 {
  color: white;
  background-color: mediumseagreen;
  text-align: center;
}

p {
  font-family: Lucida Console;
  font-size: 20px;
}
</style>
</css>
